@charset "UTF-8";
@use "scss/mixin/breakpoint"as break;
@use "scss/setting/variables"as v;
@use "scss/base/base"as b;
@use "scss/mixin/font"as f;
@use "scss/mixin/animation"as a;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=PT+Serif:wght@700&family=The+Nautigal:wght@700&display=swap');

.MainPrimary {
    background-color: v.$base-maincolor;

    .Header {
        width: 100%;

        &__TopImage {
            width: 100%;
            height: 100vh;
            background-image: url(../Webp/PastaTopView.webp);
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            @include break.breakpoint(tablet) {
                width: 100%;
            }
            @include break.breakpoint(smartphone) {
                display: none;
            }
        }

        .Header__Container {
            width: 100%;
            text-align: center;
            opacity: 0;
            @include break.breakpoint(smartphone) {
                opacity: 1;
            }
        }

        &__title {
            margin: 0 auto;
            font-size: 7rem;
            font-family: f.$engfontfamily;
            font-weight: v.$basefontwight;
        }

        &__Snslink {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
        }

        .Snslink {
            margin: 0 10px;
        }
    }

    .Productntroduction {
        width: 100%;
        font-family: f.$jafontfamily;
        margin-top: 500px;
        @include break.breakpoint(smartphone) {
            margin-top: 50px;
        }
        &__Headdingtext {
            font-size: f.$headdingfont-size;
            margin-left: 10%;
            margin-top: 50px;
            margin-bottom: 25px;
            opacity: 0;
            @include break.breakpoint(smartphone) {
                margin-top: 0px;
            }
        }

        &__Auxiliarysentence {
            font-size: f.$textfont-size;
            margin-left: 10%;
            opacity: 0;
        }

        .AuxiliaryImage {
            width: 50%;
            height: 50%;
            display: block;
            margin: 0 auto;
            border-radius: 30px;
            box-shadow: 0px 0px 50px rgb(255, 227, 212);
            opacity: 0;
            @include break.breakpoint(smartphone) {
                width: 80%;
                height: 80%;
            }
            @include break.breakpoint(tablet) {
                width: 80%;
                height: 80%;
            }
        }
    }

    .Menu {
        width: 100%;
        font-family: f.$jafontfamily;
        @include break.breakpoint(smartphone) {
            text-align: center;
        }

        &__Headdingtext {
            width: 280px;
            margin-top: 500px;
            font-size: f.$headdingfont-size;
            margin-left: 10%;
            border-bottom: solid 5px rgb(255, 227, 212);
            opacity: 0;
            @include break.breakpoint(smartphone) {
                margin-left: 0;
                margin: 0 auto;
            }
            @include break.breakpoint(tablet) {
                margin-left: 0;
                margin: 0 auto;
            }
        }

        &__Prodcut {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            transition: opacity 0.3s ease;
            opacity: 0;
        }

        &__Conteiner {
            width: 600px;
            margin: 50px 0;
            display: block;
            text-align: center;
        }

        .ProductImage {
            width: 70%;
            height: 70%;
            border-radius: 20px;
            box-shadow: 0px 0px 50px rgb(255, 227, 212);
            -webkit-transition: a.$transition3s;
            -moz-transition: a.$transition3s;
            -o-transition: a.$transition3s;
            transition: a.$transition3s;
            @include break.breakpoint(smartphone) {
                width: 90%;
                height: 90%;
            }
            @include break.breakpoint(tablet) {
                width: 90%;
                height: 90%;
            }
            &:hover {
                border-radius: 50px;
                opacity: 0.75;
            }
        }


        &__ProdcutName {
            font-size: 25px;
        }

        &__price {
            font-size: f.$menufont-size;
            font-weight: 600;
        }

        &__InductionLink {
            font-size: f.$menufont-size;
            font-weight: 600;
        }
    }

    .Uber__Link {
        color: red;
    }

    .Access {
        width: 100%;
        display: block;
        margin: 0 auto;
        font-family: f.$jafontfamily;

        &__Headdingtext {
            width: 300px;
            font-size: f.$headdingfont-size;
            margin-left: 10%;
            border-bottom: solid 5px rgb(255, 227, 212);
            opacity: 0;
            @include break.breakpoint(smartphone) {
               margin-left: 0px;
               margin: 0 auto;
            }
            @include break.breakpoint(tablet) {
                margin-left: 0px;
                margin: 0 auto;
             }
        }

        &__Map {
            display: block;
            width: 100%;
            margin: 50px auto;
        }
    }

    .Footer {
        width: 100%;
        text-align: center;
        opacity: 0;

        &__Title {
            font-size: 7rem;
            font-family: f.$engfontfamily;
            font-weight: v.$basefontwight;
        }

        &__Copylight {
            font-size: 3rem;
            font-family: f.$engfontfamily;
            font-weight: v.$basefontwight;
        }
    }
}